{{#each configObject.locales as |localeConfig|}}
{{!-- <li>
  <a href="#" {{action "changeLanguage" localeConfig.locale }}>
    {{t localeConfig.locale }}
  </a>
</li>
 --}}

  <li class={{if (eq i18n.locale localeConfig.locale ) "selected"}} >
    <a class="{{ localeConfig.locale }}" href="#" {{action "changeLanguage" localeConfig.locale }}></a>
  </li> 
{{/each}}