{{!-- for 3 col section on langing page --}}
<div class="col-sm-12" style="padding-bottom: 3%;min-height: 160px;">
  <h4>{{t contentItem.labelKey }}  <span class="in-lang">({{t labelSuffixKey }})</span></h4>

  {{#if isEditing}}
      <div>
        {{input value=titleValue type="text" rows="4" class="input-sm form-control fg-input ed-ca-head"  }}
      </div>
      <div>
        {{wysiwyg-editor content=contentValue toolbarIn="hidden"}}

        {{!--textarea value=contentValue type="text" rows="4" class="input-sm form-control fg-input"  --}}
      </div>
  {{else}}
    <div class="content-item-container" style="min-height:200px;">
    <h4>
      {{ titleValue }}
    </h4>
    <div>
      {{{ contentValue }}}
    </div>
    </div>
  {{/if}}

  <div>
    {{#if isEditing}}
      <button type="submit" class="pull-left btn btn-primary btn-sm m-t-10 m-r-10 waves-effect" {{action "saveContentItem" contentItem }}>
        {{t "save"}}
      </button>
      <button type="submit" class="pull-left btn btn-sm m-t-10 waves-effect" {{action "cancelEditing" }}>
        {{t "cancel"}}
      </button>
      {{else}}
      <p class="m-t-10"  {{action "startEditing" }}><a href=""><i class="fa fa-pencil"></i> {{t "edit"}}</a></p>
      <button style="display:none;" type="submit" class="pull-left btn btn-primary btn-sm m-t-10 waves-effect" {{action "startEditing" }}>
        {{t "edit"}}
      </button>
      <button style="display:none;" type="submit" class="pull-left btn btn-primary btn-sm m-t-10 waves-effect" {{action "previewContent" }}>
        {{t "preview"}}
      </button>
    {{/if}}
  </div>


  <div>
{{!--     
    <iframe src="http://test1.lvh.me:3000/">
      an irf
    </iframe>
     --}}
  </div>
</div>