<div class="m-t-20">
{{#if errors}} {{#each errors as |error|}}
<div class="fg-float has-error">
  <div class="help-block has-error">{{t error }}</div>
</div>
{{/each}} 
{{/if}}
  {{#each siteSections.items as |sectionDetails|}}
  <div class="fg-line m-b-5 m-t-0">
    <div class="checkbox m-b-5">
      <label>
        {{#if (eq visibilityFieldName "show_in_top_nav")}}
        <input type="checkbox" checked={{sectionDetails.show_in_top_nav}}
        onClick={{action "changeNavbarItem" sectionDetails }}>
        <i class="input-helper"></i>          
        {{/if}}
        {{#if (eq visibilityFieldName "show_in_footer")}}
        <input type="checkbox" checked={{sectionDetails.show_in_footer}}
        onClick={{action "changeNavbarItem" sectionDetails }}>
        <i class="input-helper"></i>          
        {{/if}}
        <strong>
          {{ sectionDetails.slug }}
        </strong>
      </label>
    </div>
  </div>
  {{/each}} 
<div class="row" style="display:none;">
  <div class="col-md-6">
    {{forms/nav-link-new supportedLanguages=supportedLanguages locales=locales i18nKeyPrefix=adminTranslations.i18nKeyPrefix batchKey=adminTranslations.batchKey updateTranslationsArrayAction="updateTranslationsArray" }}    
  </div>
</div>


</div>
