<div class="col-sm-12" style="">

  <div class="card">
    <div class="property-text-edit card-header ch-alt" style="padding: 8px;">

      <h4>{{t languageSettings.titleLabelKey }}  <span class="in-lang">({{t languageSettings.languageKey }})</span></h4>
      {{#if isEditing}}
        <div>
          {{input value=titleValue type="text"  class="input input-md form-control fg-input"  }}
        </div>
      {{else}}
        <div class="title-preview" style="">
          {{ titleValue }}
        </div>
      {{/if}}

      <h4>{{t languageSettings.descriptionLabelKey }}  <span class="in-lang">({{t languageSettings.languageKey }})</span></h4>
      {{#if isEditing}}
        <div>
         {{wysiwyg-editor content=descriptionValue header="Example"}}
        </div>
      {{else}}
        <div class="description-preview" >
          {{{ descriptionValue }}}
        </div>
        <div class="clearfix"></div>
      {{/if}}
      

      <div class="" style="display: inline-table;">
        {{#if isEditing}}
          <button type="submit" class="pull-left btn btn-primary btn-sm m-b-10 m-r-10 waves-effect" {{action "saveContentItem" contentItem }}>
            {{t "save"}}
          </button>
          <button type="submit" class="pull-left btn btn-sm m-b-10 waves-effect" {{action "cancelEditing" }}>
            {{t "cancel"}}
          </button>
          {{else}}
          <div class="m-t-10" {{action "startEditing" }}><a href=""><i class="fa fa-pencil"></i> {{t "edit"}}</a></div>
          <button style="display:none;" type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "startEditing" }}>
            {{t "edit"}}
          </button>
          <button style="display:none;" type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "previewContent" }}>
            {{t "preview"}}
          </button>
        {{/if}}
      </div>


    </div>
  </div>
</div>

{{!-- 
<h5>{{t languageSettings.titleLabelKey }}</h5>
<div class=''>
  <div class="form-group">
    {{input value=titleValue class="input-sm form-control fg-input" }}
  </div>
</div>
<h5>{{t languageSettings.descriptionLabelKey }}</h5>
<div class='wysiwyg-container'>
  {{wysiwyg-editor content=descriptionValue header="Example"}}
</div>
 --}}