{{!-- https://github.com/yapplabs/ember-radio-button --}}
{{!-- {{#if fieldDetails.tooltipTextTKey}}
  <a class="ayuda" data-toggle="tooltip" title="" data-original-title={{t fieldDetails.tooltipTextTKey}}><i class="fa fa-info"></i></a>
{{/if}}

{{#if fieldDetails.labelTextTKey}}
  <label class="fg-label ">{{t fieldDetails.labelTextTKey }}</label>
{{/if}}
{{#if fieldDetails.headerTextTKey}}
  <h4>{{t fieldDetails.headerTextTKey }}</h4>
{{/if}} --}}
<div class="fg-line has-">
{{#each fieldOptions as |selectValue|}} 
  <div class="radio m-b-15" >
    <label>
    {{radio-button
    radioClass="input-helper"
    value=selectValue.value
    groupValue=displayValue
    changed="radioChanged"}}
      <i class="input-helper"></i> {{ selectValue.label }}
    </label>
  </div>
{{/each}}

{{!-- {{#each fieldOptionObjects as |selectValue|}} 
  <div class="radio m-b-15" >
    <label  >
      <input {{action "radioChanged" selectValue this}} type="radio"  id={{ selectValue.value }}
       value={{ selectValue.value }} checked={{ selectValue.checked}}>
      <i class="input-helper"></i> {{ selectValue.label }}
    </label>
  </div>
{{/each}}
 --}}


</div>
