{{#if fieldDetails.tooltipTextTKey}}
  <a class="ayuda" data-toggle="tooltip" title="" data-original-title={{t fieldDetails.tooltipTextTKey}}><i class="fa fa-info"></i></a>
{{/if}}
<div class="fg-line {{if errors 'has-error'}} ">
  <label class="fg-label">{{ labelText }}</label>

{{#if fieldDetails.alertInfoTKey }}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button>
    <i class="fa fa-info"></i> {{t fieldDetails.alertInfoTKey }}  
  </div>
{{/if}}

{{#if  isTextArea }}
  {{ textarea value=inputValue type="text" rows="20" class="input-sm form-control fg-input" }}
{{else}}
  {{input value=inputValue type=fieldDetails.inputType  class="input-sm form-control fg-input"  }}
{{/if}}

{{#if errors}}
{{#each errors as |error|}}
  <small class="help-block">{{ error }}</small>  
{{/each}}
{{/if}}
</div>
