{{#if fieldDetails.labelText}}
<label class="fg-label arriba_label">{{fieldDetails.labelText }}</label>
{{else}}
<label class="fg-label arriba_label">{{t fieldDetails.labelTextTKey }}</label>
{{/if}}

{{#if fieldDetails.tooltipTextTKey}}
<a class="ayuda" data-toggle="tooltip" title="" data-original-title={{t fieldDetails.tooltipTextTKey}}><i class="fa fa-info"></i></a> 
{{/if}}
<div class="fg-line">
  <label class="radio radio-inline m-r-20">
    <input type="radio" name={{ fieldDetails.fieldName }} value=true>
    <i class="input-helper"></i>{{t "yes"}}
  </label>
  <label class="radio radio-inline m-r-2">
    <input type="radio" name={{ fieldDetails.fieldName }} value=false>
    <i class="input-helper"></i>{{t "no"}}
  </label>
</div>

