<div class="form-group fg-float">
{{#if fieldDetails.tooltipTextTKey}}
  <a class="ayuda" data-toggle="tooltip" title="" data-original-title={{t fieldDetails.tooltipTextTKey }}><i class="fa fa-info"></i></a>
{{/if}}

  <div class="fg-line {{if errors 'has-error'}}">
    {{input value=inputValue type="text" class="input-sm form-control fg-input" }}
  </div>
  {{#if errors}} {{#each errors as |error|}}
  <small class="help-block">{{ error }}</small> {{/each}} {{/if}}
  <label class="fg-label"><i class={{ fieldDetails.class }}></i>{{ fieldDetails.title }}</label>
</div>
