{{#if errors}} {{#each errors as |error|}}
<div class="fg-float has-error">
  <div class="help-block has-error">{{t error }}</div>
</div>
{{/each}} 
{{/if}}
<div>
  {{#each localesArrayWithValues as |fieldDetails|}} 

  <div class="fg-line">
  {{#if fieldDetails.labelText}}
  <label class="fg-label arriba_label">{{fieldDetails.labelText }}</label>
  {{else}}
  <label class="fg-label arriba_label">{{t fieldDetails.labelTextTKey }}</label>
  {{/if}}
  <div class="fg-line">
    <label class="radio radio-inline m-r-20">
      {{radio-button radioClass="input-helper" value=true groupValue=fieldDetails.value changed="changeSupportedLanguage"}}
      <i class="input-helper"></i> {{ t "yes" }}
    </label>
    <label class="radio radio-inline m-r-20">
      {{radio-button radioClass="input-helper" value=false groupValue=fieldDetails.value changed="changeSupportedLanguage"}}
      <i class="input-helper"></i> {{ t "no" }}
    </label>
    {{!--
    <label class="radio radio-inline m-r-20">
      <input type="radio" name={{ fieldDetails.fieldName }} value=true>
      <i class="input-helper"></i>{{t "yes"}}
    </label>
    <label class="radio radio-inline m-r-2">
      <input type="radio" name={{ fieldDetails.fieldName }} value=false>
      <i class="input-helper"></i>{{t "no"}}
    </label> --}}
  </div>
  </div>
  {{/each}}
</div>
