<div class="col-sm-2" style="padding-bottom: 3%;">
{{#unless isAdding}}
  <button type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect pull-right" 
  data-toggle="tooltip" title="{{t "toolTips.addNew"}}"
      {{action "startAdding" }}><i class="fa fa-plus"></i>
  </button>
{{/unless}}
</div>
<div class="col-sm-10" style="padding-top: 3%;padding-bottom:3%;">
{{#if isAdding}}
  {{#each newTranslationBatch as |translation|}}
    <div class="fg-line {{if translation.errors 'has-error'}} ">
      <label class="fg-label arriba_label">{{t translation.locale}}:</label>
      {{input value=translation.i18n_value type="text"  class="input-sm form-control fg-input translation-input"  }}
    </div>

    {{#if translation.errors}}
      {{#each translation.errors as |error|}}
        <small class="help-block">{{ error }}</small>  
      {{/each}}
    {{/if}}
  {{/each}}
  <div class="pull-right" style="">
    <button type="submit" class="btn btn-sm m-b-10 waves-effect pull-right btn-save-translation" 
      data-toggle="tooltip" title="{{t "cancel"}}"
      {{action "cancelAdding" contentItem }}><i class="fa fa-times"></i>
    </button>
    <button type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect pull-right btn-save-translation" 
      data-toggle="tooltip" title="{{t "save"}}"
      {{action "createTranslationBatch" contentItem }}><i class="fa fa-check"></i>
    </button>
  </div>
{{/if}}
</div>
