{{#if newAddress}}
  <h5 class="text-center">{{t "locationTab.confirmAddress" }}:</h5>
  <div >
    <label class="fg-label arriba_label">{{t "streetAddress"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.streetAddress class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">{{t "streetNumber"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.streetNumber class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">{{t "city"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.city class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">{{t "region"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.region class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">{{t "country"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.country class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">{{t "postCode"}}:</label>
    <div class="fg-line">
      {{input value=newAddress.postalCode class="input-sm form-control fg-input" }}
    </div>

{{!--     <label class="fg-label arriba_label">Ad area lev 2:</label>
    <div class="fg-line">
      {{input value=newAddress.aal2 class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">Ad area lev 3:</label>
    <div class="fg-line">
      {{input value=newAddress.aal3 class="input-sm form-control fg-input" }}
    </div>
    <label class="fg-label arriba_label">Ad area lev 4:</label>
    <div class="fg-line">
      {{input value=newAddress.aal4 class="input-sm form-control fg-input" }}
    </div> --}}


    <div class="fg-line">
        <button type="submit" class="pull-right btn btn-sm m-b-10 waves-effect"
        style="margin:2%;" {{action "cancel"}} >{{t "cancel"}}</button>
        <button type="submit" class="pull-right btn btn-primary btn-sm m-b-10 waves-effect"
        style="margin:2%;" {{action "saveNewAddress"}} >{{t "save"}}</button>
    </div>
  </div>
{{/if}}