<div class="row">
  <div class="col-sm-12">
    {{#unless importAttempted}} 
      {{#if importing}}
      <p>Importing properties into this website</p>
      {{else}}
      <p>The following properties were retrieved.
      </p>
      {{/if}} 
    {{/unless}}
  </div>
  <div class="col-sm-12">
    {{#unless importAttempted}} 
    <table class="tabla_propiedades table table-striped table-vmiddle datatables">
      <thead>
        <tr>
          <th>Reference</th>
          <th>Price</th>
          {{!--
          <th>{{t "propertyColHeader.price"}}</th> --}}
          <th>{{t "propertyColHeader.bedrooms"}}</th>
          <th>{{t "propertyColHeader.bathrooms"}}</th>
          <th>City</th>
          <th>Street Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each properties as |property|}}
        <tr id={{property.id }}>
          <td style="display:none;">
            <a href="" {{action "importProperty" property }}><i class="fa fa-eye-slash"></i>import</a>
          </td>
          <td>{{ property.reference }}</td>
          <td>{{ property.price_sale_current }}</td>
          {{!--
          <td>{{ property.contextualPriceCents }}</td> --}}
          <td>{{ property.count_bedrooms }}</td>
          <td>{{ property.count_bathrooms }}</td>
          <td>{{ property.city }}</td>
          <td>{{ property.street_name }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/unless}} 
  </div>
  <div class="col-sm-12">
    {{#if importAttempted}} {{#if success}}
    <p>{{ importedItems.new_props.length }} property imported</p>
    {{#if (gt importedItems.existing_props.length 0)}}
    <p>{{ importedItems.existing_props.length }} existing properties not imported</p>
    {{/if}}
    <p>
      <a class="btn" {{action "ackResult" properties}}>
      OK
      </a>
    </p>
    {{else}}
    <p>Sorry, there has been an error importing the properties
      <a class="btn" {{action "ackResult" properties}}>
      OK
      </a>
    </p>
    {{/if}} {{else}}
    <p><a class="btn btn-edfile" {{action "importAllProperties" properties}}>
    Import properties into this website
    </a>
      <a class="btn" {{action "cancelImport" properties}}>
    Cancel import
    </a>
    </p>
    {{/if}}
  </div>

  <div class="col-sm-12">
  </div>
</div>