<div class="row">
  <div class="col-sm-12">
    <div class="row">
    {{#if retrieving}}
      <div class="col-sm-6">
      <p>Retrieving data</p>
      </div>
      <div class="col-sm-6">
      <p><i class='fa fa-spinner fa-spin fa-3x fa-fw'></i><span class='sr-only'>
      Retrieving ...</span></p>
      </div>
    {{else}}
      <div class="col-sm-12" style="">
        <label class="fg-label m-t-20">Webpage URL:</label>
        {{input value=websiteDetails.url type="text" class="input-sm form-control fg-input translation-input" }}
      </div>

      <div class="col-sm-12 m-t-20">
        {{#if hasError}}
          <p>Sorry, there has been an error retrieving the webpage data.
          </p>
          <p><a href="https://github.com/etewiah/property_web_builder/issues/13">Help us improve PropertyWebBuilder by telling us about the webpage you tried to use here.</a>
          </p>
          <p>
            <a class="btn btn-edfile" {{action "ackError"}}>
            OK
            </a>
          </p>
        {{else}}
  {{#if validationErrors}} {{#each validationErrors as |error|}}
  <p class="error-notice">{{ error }}</p> {{/each}} 
  {{/if}}
        <p style="" class="">
          <a class="btn btn-edfile" {{action "getWebpageData"}}>
          Retrieve from webpage
          </a>
        </p>
        <p><a href="https://github.com/etewiah/property_web_builder/issues/13">
        This is an experimental feature. Help us improve it by giving feedback here.</a>
        </p>
        {{/if}}
      </div>
    {{/if}}
    </div>
  </div>
</div>
