<div class="card">
    
    <div class="card-header sep25">
        <h2>{{t "clientsList" }}</h2>
        <div role="group" class="boton_anadir_propiedad">
        {{#link-to "admin.clients.new" data-toggle="tooltip" 
        title=(t "addClient") class="btn bgm-cyan btn-circulo btn-float waves-effect" }} 
         <i class="fa fa-plus"></i><i class="md md-add"></i>
        {{/link-to}}  

{{!--             <a href="editar_propiedad" data-toggle="tooltip" title="Añadir propiedad" class="btn bgm-cyan btn-circulo btn-float waves-effect">
            <i class="fa fa-plus"></i><i class="md md-add"></i></a> --}}
        </div>
    </div>
    
    <div class="card-body card-padding">

        <table id="data-table-command" class="tabla_propiedades table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th data-column-id="id" data-type="text" data-order="desc">
                    {{t "fieldLabels.firstNames" }}</th>
                    <th data-column-id="id" data-type="text" data-order="desc">
                    {{t "fieldLabels.lastNames" }}</th>
 
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">{{t "propertyLabels.actions"}}</th>
                </tr>
            </thead>
            <tbody>

          {{#each model as |client|}} 
            <tr >
              <td>{{ client.firstNames }}</td>
              <td>{{ client.lastNames }}</td>
              <td>
              <button type="button" class="btn btn-icon command-edit btn_editar_inicio" {{action "editClient" client }} data-id_propiedad="1">
              <i class="md md-edit"><i class="fa fa-pencil"></i></i>
              </button>
              <button type="button" class="btn btn-icon command-edit btn_editar_inicio" {{action "editClient" client }} data-id_propiedad="1">
              <i class="md md-edit"><i class="fa fa-trash"></i></i>
              </button>
              </td>
            </tr>
          {{/each}} 

            </tbody>
        </table>
    </div>

</div>