<table  class="tabla_propiedades table table-striped table-vmiddle datatables">
  <thead>
    <tr>
      <th style="visibility: hidden;" >{{!--t "propertyColHeader.actions" --}}</th>
      <th >{{t "propertyColHeader.visible"}}</th>

      <th  data-type="text" data-order="desc">Ref</th>
{{!--       <th >{{t "propertyColHeader.highlighted" }}</th>
 --}}      
      <th >{{t "propertyColHeader.locality"}}</th>
      <th >{{t "propertyColHeader.zone"}}</th>
      <th >{{t "propertyColHeader.type"}}</th>
      {{!-- <th >{{t "propertyColHeader.price"}}</th> --}}
      <th >{{t "propertyColHeader.rooms"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each properties as |property|}}
    <tr id={{property.id }}>
      <td>
        {{#link-to 'admin.propiedades.editar' property.id}}
          <i class="fa fa-pencil"></i>{{t "edit"}}
        {{/link-to}}&nbsp;

        <div style="display:none;">
        {{#if showingVisibleProperties}}
            <a href="" {{action "hideProperty" property }} ><i class="fa fa-eye-slash"></i>{{t "hide"}}</a>
        {{else}}
          <a href="" {{action "unHideProperty" property }} ><i class="fa fa-eye"></i>{{t "show"}}</a>  
        {{/if}}
        </div>

      </td>
      <td>{{t property.visible }}</td>
      <td>{{ property.reference }}</td>
      {{!-- <td>{{t property.highlighted }}</td> --}}
      <td>{{ property.localityTitle }}</td>
      <td>{{ property.zoneTitle }}</td>
      <td>{{t property.propertyTypeKey }}</td>
      {{!-- <td>{{ property.contextualPriceCents }}</td> --}}
      <td>{{ property.countBedrooms }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
