<table  class="tabla_propiedades table table-striped table-vmiddle datatables">
  <thead>
    <tr>
      <th  data-type="text" data-order="desc">Ref</th>
      <th >{{t "propertyLabels.highlighted" }}</th>
      <th >{{t "propertyLabels.locality"}}</th>
      <th >{{t "propertyLabels.zone"}}</th>
      <th >{{t "propertyLabels.type"}}</th>
      <th >{{t "propertyLabels.price"}}</th>
      <th >{{t "propertyLabels.rooms"}}</th>
      <th >{{t "propertyLabels.visible"}}</th>
      <th >{{t "propertyLabels.actions"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each properties as |property|}}
    <tr>
      <td>{{ property.tTitle }}</td>
      <td>{{t property.destacado }}</td>
      <td>{{t property.localidad }}</td>
      <td>{{ property.zonaDireccion }}</td>
      <td>{{ property.tTipoPropiedad }}</td>
      <td>{{ property.precioVenta }}</td>
      <td>{{ property.numHabitaciones }}</td>
      <td>{{t property.visible }}</td>
      <td>
        {{#link-to 'admin.propiedades.editar' property.id}}
          <i class="fa fa-pencil"></i>{{t "edit"}}
        {{/link-to}}&nbsp;

        <a href="" {{action "hideProperty" property }} ><i class="fa fa-eye-slash"></i> Ocultar</a>


{{!--         <button type="button" class="btn btn-icon command-edit btn_editar_inicio" {{action "editProperty" property }} data-id_propiedad="1">
          <i class="fa fa-pencil">Edit</i>
        </button>
        <button type="button" class="btn btn-icon command-edit btn_editar_inicio" {{action "editProperty" property }} data-id_propiedad="1">
          <i class="fa fa-eye-slash">Hide</i>
        </button> --}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
