<table  class="tabla_propiedades table table-striped table-vmiddle datatables">
  <thead>
    <tr>
      <th  data-type="text" data-order="desc">Ref</th>
      <th >{{t "propertyLabels.highlighted" }}</th>
      <th >{{t "propertyLabels.locality"}}</th>
      <th >{{t "propertyLabels.zone"}}</th>
      <th >{{t "propertyLabels.type"}}</th>
      {{!-- <th >{{t "propertyLabels.price"}}</th> --}}
      <th >{{t "propertyLabels.rooms"}}</th>
      <th >{{t "propertyLabels.actions"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each properties as |property|}}
    <tr id={{property.id }}>
      <td>{{ property.reference }}</td>
      <td>{{t property.highlighted }}</td>
      <td>{{ property.localityTitle }}</td>
      <td>{{ property.zoneTitle }}</td>
      <td>{{ property.tTipoPropiedad }}</td>
      {{!-- <td>{{ property.contextualPriceCents }}</td> --}}
      <td>{{ property.numHabitaciones }}</td>
      <td>
        {{#link-to 'admin.propiedades.editar' property.id}}
          <i class="fa fa-pencil"></i>{{t "edit"}}
        {{/link-to}}&nbsp;

        {{#if showingVisibleProperties}}
            <a href="" {{action "hideProperty" property }} ><i class="fa fa-eye-slash"></i>{{t "hide"}}</a>
        {{else}}
          <a href="" {{action "unHideProperty" property }} ><i class="fa fa-eye"></i>{{t "show"}}</a>  
        {{/if}}

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
