{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
      {{#if hasChanged}}
        {{#if hasErrors}}
          {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
          {{else}}
          <div class="col-sm-10">
            <div class="alert alert-info " role="alert"><i class="fa fa-lg fa-info"></i> {{t "alerts.changesDetected"}} 
              <button type="submit"  style="" class="btn btn-primary waves-effect" {{action "saveExtrasObject"}}>
                {{t "save"}}
              </button>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="alert alert-warning text-center" role="alert">
              <button type="submit"  style="" class="btn btn-default waves-effect" 
              {{action "cancelExtrasChanges" propertyResource originalExtras }}>
                {{t "cancel"}}
              </button> 
            </div>
          </div>
        {{/if}}
      {{/if}}
    <div class="col-sm-12">
      {{#if hasChanged}}
        <button type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveExtrasObject"}} >
          {{t "save"}}
        </button>
      {{/if}}
    </div>
    <div class="col-sm-4">
      <h4></h4>

      {{#each extrasInputFields1.chunk1 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}

        </div>
      {{/each}}
    </div>
    <div class="col-sm-4">
      <h4></h4>

      {{#each extrasInputFields1.chunk2 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}

        </div>
      {{/each}}
    </div>

    <div class="col-sm-4">
      <h4></h4>

        {{#each extrasInputFields1.chunk3 as |extrasField|}} 
          <div class="form-group fg-float">
            {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}

          </div>
        {{/each}}

    </div>
    <div class="col-sm-12">
      <a href={{manageExtrasUrl}} >{{t "buttonLabels.configureAvailableExtras" }}</a>
    </div>
  </div>
</div>
{{/if}}
