{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">

      {{#if hasChanged}}
        {{#if hasErrors}}
          {{else}}
              <div class="col-sm-12">
                <div class="alert alert-info " role="alert"><i class="fa fa-lg fa-info"></i> {{t "alerts.changesDetected"}} 
                  <button type="submit"  style="" class="btn btn-primary waves-effect" {{action "saveExtrasObject"}}>
                    {{t "save"}}
                  </button>
                  <button type="submit"  style="" class="btn btn-default waves-effect" 
                  {{action  "cancelExtrasChanges" propertyResource originalExtras }}>
                    {{t "cancel"}}
                  </button> 
                </div>
              </div>
        {{/if}}
      {{/if}}

      {{#each extrasInputFields1 as |extrasField|}} 
      <div class="col-lg-3 col-md-4 m-t-20">
        <div class="form-group fg-float">
          {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}
        </div>

      </div>
      {{/each}}


{{!--     <div class="col-sm-4">
      <h4></h4>
      {{#each extrasInputFields1.chunk1 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}
        </div>
      {{/each}}
    </div>
    <div class="col-sm-4">
      <h4></h4>
      {{#each extrasInputFields1.chunk2 as |extrasField|}} 
        <div class="form-group fg-float">
          {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}
        </div>
      {{/each}}
    </div>
    <div class="col-sm-4">
      <h4></h4>
        {{#each extrasInputFields1.chunk3 as |extrasField|}} 
          <div class="form-group fg-float">
            {{forms/simple-boolean  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=extrasField resourceObject=propertyResource.extras}}

          </div>
        {{/each}}
    </div> --}}

    <div class="col-sm-12">
      {{#if hasChanged}}
        {{#if hasErrors}}
          {{else}}
              <div class="col-sm-12">
                <div class="alert alert-info " role="alert"><i class="fa fa-lg fa-info"></i> {{t "alerts.changesDetected"}} 
                  <button type="submit"  style="" class="btn btn-primary waves-effect" {{action "saveExtrasObject"}}>
                    {{t "save"}}
                  </button>
                  <button type="submit"  style="" class="btn btn-default waves-effect" 
                  {{action  "cancelExtrasChanges" propertyResource originalExtras }}>
                    {{t "cancel"}}
                  </button> 
                </div>
              </div>
        {{/if}}
      {{/if}}
    </div>


    <div class="col-sm-12">
      <a href={{manageExtrasUrl}} >{{t "buttonLabels.configureAvailableExtras" }}</a>
    </div>
  </div>
</div>
{{/if}}
