{{#if isActive}}
<div role="tabpanel" class="tab-pane" id="descripcion">
  <div class="row">

    <div class="col-sm-12">


      <div>
      {{#if hasChanged}}
        {{#if hasErrors}}
          {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
          {{else}}
          <button type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveAgencyDetails"}}>
            {{t "save"}}
          </button>
        {{/if}}
      {{/if}}
      </div>


      <div>
        {{#upload/x-droplet url="/api/v1/properties/1/photo"}}


        {{/upload/x-droplet}}
      </div>




        <div class="form-group fg-float">
<div class="fg-line has-">
  <select class="selectpicker" style="display: none;">
{{#each clientSelectValues as |selectValue|}} 
  <option value={{ selectValue.value }} >{{ selectValue.label }}</option>
{{/each}}
  </select>

</div>
<label class="fg-label arriba_label">{{t fieldDetails.labelTextTKey }}</label>


        </div>
    </div>

  </div>
</div>
{{/if}}
