{{#if isActive}}
<div role="tabpanel" class="tab-pane" id="descripcion">
  <div class="row m-b-10">
    <div class="col-md-6 col-sm-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button><i class="fa fa-lg fa-info"></i> {{t "info.orderByDragging" }} &nbsp;&nbsp;&nbsp; 
        <br>  {{t "info.recPropPhotoSize" }} 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <p><a class="btn btn-edfile">{{t "addPhotos"}}
            {{#upload/x-droplet url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} 
            {{/upload/x-droplet}}
        </a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="sortable-pics">
      {{#each resourceObject.orderedPropertyPhotos as |photo| }}
      <div class="foto_principal" style="height:400px;float:left;" data-id={{ photo.id }}>
        <div style="max-width: 270px;">
          <div class="thumbnail">
            <div class="text-center" style="margin-bottom: -40px;">
              <button type="button" class="btn btn-icon command-delete" {{action "deletePhoto" photo }}>
                <span class="md md-delete"></span>
              </button>
            </div>
            <img src={{ photo.image.url }} alt="">
          </div>
        </div>
        <div class="" style="display:none;">{{ photo.id }}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row" style="display:none;">
  </div>
</div>
{{/if}}
