{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">

    {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-3">
      <div class="">
      <div class="thumbnail" style="display:none;" >
        {{!-- <img src="img/300x200.gif" alt=""> --}}
        <div class="caption">
          <h4>REK-1040 - <span class="precio">325.000€</span> </h4>
          <p>Apartamento San Miguel de Salinas.</p>
          <p class="iconos_grande">
            <i class="fa fa-bed"></i> <span>2</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-male"></i><i class="fa fa-female"></i> 
            <span>1<span>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-arrows"></i> <span>25m<sup>2</sup></span>
            </span>
            </span>
          </p>
        </div>
      </div>
      <div>
        {{!-- <h4>{{t "propertyGeneralSections.visibility" }}</h4> --}}
        {{#each visibilityInputFields as |inputField|}} 
            {{partial "partials/input-field-resolver" }}
        {{/each}}
        <br>
        <div style="display:block;">          
        {{forms/radio-list  resetTrigger=resetTrigger 
    valueChangedAction="checkDirtyState"  fieldDetails=currencyField resourceObject=resourceObject fieldOptions=currencyFieldKeys }}

        </div>
        <div style="display:none;">          
        <h4>{{t "propertyGeneralSections.portals" }}</h4>
        {{#each portalesInputFields as |inputField|}} 
            {{partial "partials/input-field-resolver" }}
        {{/each}}
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="">
      {{!-- <h4>{{t "propertyGeneralSections.generalData" }}</h4> --}}
      {{#each mainInputFields as |inputField|}} 
          {{partial "partials/input-field-resolver" }}
      {{/each}}
      <br>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="">
      {{!-- <h4>{{t "propertyGeneralSections.characteristics" }}</h4> --}}
        {{#each characteristicasInputFields as |inputField|}} 
            {{partial "partials/input-field-resolver" }}
        {{/each}}      
      </div>
    </div>


    <div class="col-sm-3">
      <div class="">
      {{!-- <h4>{{t "propertyGeneralSections.characteristics" }}</h4> --}}
        {{#each characteristicasInputFields2 as |inputField|}} 
            {{partial "partials/input-field-resolver" }}
        {{/each}} 
      </div>     
    </div>

{{!--   
    moved text back to its own tab  
    <div class="col-sm-6">
      <div class="row">
        {{#each languages as |languageSettings|}}
        <div class="col-sm-12" style="padding-bottom: 3%;">
          <button style="display:none;" type="submit" class="btn btn-primary btn-sm m-b-10 waves-effect pull-right" {{action "savePropertyResource"}}>Save</button>
          {{forms/property-description languageSettings=languageSettings propertyResource=resourceObject saveAction="savePropertyResource"}}
        </div>
        {{/each}}
      </div>
    </div> --}}

    {{partial "partials/manage-changes-buttons" }}

  </div>
</div>
{{/if}}
