<div role="tabpanel" class="tab-pane" id="situacion">
{{#unless hideInputFields}}
  <div class="row">

    {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-4">
      {{#each situacionLeftInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
    </div>
    <div class="col-sm-4">
      {{#each situacionMiddleInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
    </div>
    <div class="col-sm-4">
      {{#each situacionRightInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
{{!--
  zones and locality not being used at the moment
       <h4>{{t "fieldLabels.forSearchWidget"}}</h4>
      {{#each searchInputFields as |inputField|}}
      {{partial "partials/input-field-resolver" }}
      {{/each}}
 --}} 
    </div>
  </div>
{{/unless}}
  <div class="row">
    <div class="col-sm-6">
      <div>
        {{interactive-gmap geo=geo mapClickedAction="mapClicked" }}
      </div>
    </div>
    <div class="col-sm-6">
      {{#if isConfirming}}
        <div >
        {{forms/update-location gmapLocationObject=gmapLocationObject updateLocationAction="updateConfirmedAddress" cancelAction="stopConfirming"}}
        </div>
      {{else}}
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">×</span></button><i class="fa fa-lg fa-info"></i>{{t "alerts.clickMapToUpdate" }}
      </div>

        <div>
          {{geo/gmap-searchbox mapHolder=geo searchResults=geo.searchResults}}
        </div>
        {{!-- above and below interact through geo.searchResults --}}
        <div>
          {{geo/gmap-searchresults geo=geo searchResults=geo.searchResults  searchResultSelectedAction="updateFromSearch" }}
        </div>      
      {{/if}}
      {{!--
      <div id="pano">Aquí la vista panorámica</div>
      --}}
    </div>
  </div>
</div>
