<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
    <div class="col-sm-12">
      {{#if hasChanged}}
        {{#if hasErrors}}
          {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
          {{else}}
          <button type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "createPropertyResource"}}>
            {{t "save"}}
          </button>
        {{/if}}
      {{/if}}
    </div>

    <div class="col-sm-6">
      <h4>{{t "propertyGeneralSections.generalData"}}</h4>
        {{#each inputFields as |inputField|}} 
          <div class="form-group fg-float">
            {{partial "partials/input-field-resolver" }}
          </div>
        {{/each}}
      <br>
    </div>

    <div class="col-sm-6">
      <h4>{{t "propertyGeneralSections.characteristics" }}</h4>

{{#each characteristicasInputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{partial "partials/input-field-resolver" }}
  </div>
{{/each}}

    </div>
  </div>
</div>
