<div role="tabpanel">
  <ul data-tab-color="green" class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
    {{#each tabsList as |tab|}}
    <li class={{if (eq tab.tabValue activeTabName) "active"}}>{{#link-to 'admin.website.sections.tab' tab.tabValue}}{{t tab.tabTitleKey}}{{/link-to}}</li>
    {{/each}}
    {{#each sections as |tab|}}
{{!--     <li class={{if (eq tab.linkKey activeTabName) "active"}}>{{#link-to 'admin.website.sections.tab' tab.linkKey}}{{t tab.linkKey}}{{/link-to}}</li>
 --}}    {{/each}}
    <li class="">{{#link-to 'admin.website.sections.tab' 'new'}}
    new{{/link-to}}</li>


  </ul>
  <div class="tab-content">
   {{content/section-manager sectionInView=sectionInView websiteDetails=websiteDetails }}
    <div class="row">
      <div>
      {{content/edmin-pages contentKey=contentKey contentResources=model languages=languages }}
      </div>
      <div class="col-sm-6">



      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>
