<div class="row">
  {{#each colBlocks as |blocksGroup| }}
  <div class="{{colClass}}">
    {{#each blocksGroup as |block| }}
      {{#if block.info.isImage}}
      <div class="m-b-10">
        <div>{{ block.label }}</div>
        {{#if block.content}}
          <p><img style="max-width: 100%;" src="{{ block.content }}">  </p>          
        {{/if}}
        <p><a class="btn btn-edfile">{{t "addAboutUsPhoto"}}
           {{#upload/img-upload-cms block=block
           srcUrl=block.content }} {{/upload/img-upload-cms}}
        </a></p>

          <div class="" style="">
            {{input value=block.content type="text"  class="input-sm form-control fg-input"  }}
          </div>
        </div>
      {{/if}}
      {{#if block.info.isSingleLineText }}
      <div class="m-b-10">
        <div>{{ block.label }}</div>
        <div class="" style="">
          {{input value=block.content type="text"  class="input-sm form-control fg-input"  }}
        </div>
      </div>      
      {{/if}}
      {{#if block.info.isMultipleLineText}}
      <div class="m-b-10">
        <div>{{ block.label }}</div>
        <div class="" style="">
          {{wysiwyg-editor content=block.content toolbarIn="hidden"}}
        </div>
      </div>      
      {{/if}}
    {{/each}}
  </div>
  {{/each}}
</div>
<div>
  {{#if isEditing}}
  <button type="submit" class="pull-left btn btn-primary btn-sm m-t-10 m-r-10 waves-effect" {{action "saveBlocksContent" blocksContent }}>
    {{t "save"}}
  </button>
  <button type="submit" class="pull-left btn btn-sm m-t-10 waves-effect" {{action "cancelEditing" }}>
    {{t "cancel"}}
  </button>
  {{/if}}
</div>
