{{!-- based on 3 col section on langing page --}}
<div class="" style="padding-bottom: 3%;min-height: 160px;">
  <h3 class="text_center m-b-20">{{t cmsPartInfo.tabTitleKey }}  
    <span class="smaller-font">({{t labelSuffixKey }})</span> 
    {{#unless isEditing}}
      <span class="m-l-10 smaller-font"  {{action "startEditing" }}><a href=""><i class="fa fa-pencil"></i> {{t "edit"}}</a></span>
    {{/unless}}
  </h3>

  {{#if isEditing}}
    <div class="comfy-edit-container">
    {{cms/fragment-editor blocksInfo=cmsPartInfo.editorBlocks 
    contentPhotos=contentPhotos
    isEditing=isEditing pwbPage=pwbPage locale=locale 
    fragmentHtml=fragmentHtml
    currentLocaleFragment=currentLocaleFragment }}
    </div>
  {{else}}

    <div class="comfy-display-container">
    {{{ fragmentHtml.raw }}}
    </div>

  {{/if}}

  <div>
  </div>


  <div>
{{!--     
    <iframe src="http://test1.lvh.me:3000/">
      an irf
    </iframe>
     --}}
  </div>
</div>