{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
    <div class="col-sm-12">
    </div>
    <div class="col-sm-6">
      <div>
      {{#if hasChanged}}
        {{#if hasErrors}}
          {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
          {{else}}
          <button type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveAgencyDetails"}}>
            {{t "save"}}
          </button>
        {{/if}}
      {{/if}}
      </div>
      {{#each mainInputFields as |inputField|}}
      <div class="form-group fg-float">
        {{#if (eq inputField.fieldType "simpleInput")}} 
          {{forms/simple-input resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=inputField resourceObject=agencyDetails}} 
        {{/if}} 
        {{#if (eq inputField.fieldType "simpleSelect")}} 
          {{forms/simple-select fieldDetails=inputField resourceObject=agencyDetails fieldKeys=fieldKeys}} 
        {{/if}} 
        {{#if (eq inputField.fieldType "dynamicSelect")}} {{forms/dynamic-select fieldDetails=inputField resourceObject=agencyDetails fieldKeys=fieldKeys}} {{/if}}
      </div>
      {{/each}}
      <br>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div>
{{/if}}
