{{#if isActive}}
<div role="tabpanel" class="tab-pane" id="situacion">
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="pull-right btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveAddressDetails"}}>Save</button>
    </div>
    <div class="col-sm-6">
      {{#each situacionLeftInputFields as |inputField|}}
      <div class="form-group fg-float">
        {{#if (eq inputField.fieldType "simpleInput")}} 
          {{forms/simple-input fieldDetails=inputField resourceObject=addressDetails}} 
        {{/if}} 
      </div>
      {{/each}}
    </div>
    <div class="col-sm-6">
      {{#each situacionRightInputFields as |inputField|}}
      <div class="form-group fg-float">
        {{#if (eq inputField.fieldType "simpleInput")}} 
          {{forms/simple-input fieldDetails=inputField resourceObject=addressDetails}} 
        {{/if}} 
        {{#if (eq inputField.fieldType "dynamicSelect")}}
            {{forms/dynamic-select fieldDetails=inputField resourceObject=addressDetails fieldKeys=fieldKeys}}
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row" style="display:none;">
    <div class="col-sm-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">×</span></button><i class="fa fa-lg fa-info"></i> Pinche en el mapa para actualizar la posición de la propiedad.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        {{interactive-gmap geo=geo mapClickedAction="mapClicked" }}
      </div>
    </div>
    <div class="col-sm-6">
      {{#if isConfirming}}
        <div >
        {{forms/update-location newAddress=newAddress updateLocationAction="updateConfirmedAddress" cancelAction="stopConfirming"}}
        </div>
      {{else}}
        <div>
          {{geo/gmap-searchbox mapHolder=geo searchResults=geo.searchResults}}
        </div>
        <div>
          {{geo/gmap-searchresults geo=geo searchResults=geo.searchResults  searchResultSelectedAction="updateFromSearch" }}
        </div>      
      {{/if}}
      {{!--
      <div id="pano">Aquí la vista panorámica</div>
      --}}
    </div>
  </div>
</div>
{{/if}}
