{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">
    <div class="col-sm-12">
        <button type="submit" class="pull-right btn btn-primary btn-sm m-b-10 waves-effect" {{action "savePropertyResource"}} >Save</button>
    </div>
    <div class="col-sm-4">
      
      <div class="thumbnail">
        <img src="img/300x200.gif" alt="">
        <div class="caption">
          <h4>REK-1040 - <span class="precio">325.000€</span> </h4>
          <p>Apartamento San Miguel de Salinas.</p>
          <p class="iconos_grande">
            <i class="fa fa-bed"></i> <span>2</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-male"></i><i class="fa fa-female"></i> <span>1<span>&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-arrows"></i> <span>25m<sup>2</sup></span>
            </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Datos Generales</h4>


{{#each inputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{#if (eq inputField.fieldType "simpleInput")}}
        {{forms/simple-input fieldDetails=inputField propertyResource=propertyResource}}
    {{/if}}
    {{#if (eq inputField.fieldType "simpleSelect")}}
        {{forms/simple-select fieldDetails=inputField propertyResource=propertyResource fieldKeys=fieldKeys}}
    {{/if}}
  </div>
{{/each}}

      <br>


      <h4 class="sep50">Alquiler de temporada</h4>
      <div id="toggle_temporadas">

{{#each alquilerDeTemporadaInputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{#if (eq inputField.fieldType "simpleInput")}}
        {{forms/simple-input fieldDetails=inputField propertyResource=propertyResource}}
    {{/if}}
    {{#if (eq inputField.fieldType "simpleSelect")}}
        {{forms/simple-select fieldDetails=inputField propertyResource=propertyResource}}
    {{/if}}
  </div>
{{/each}}



      </div>
    </div>
    <div class="col-sm-4">
      <h4>Características</h4>



{{#each characteristicasInputFields as |inputField|}} 
  <div class="form-group fg-float">
    {{#if (eq inputField.fieldType "simpleInput")}}
        {{forms/simple-input fieldDetails=inputField propertyResource=propertyResource}}
    {{/if}}
    {{#if (eq inputField.fieldType "simpleSelect")}}
        {{forms/simple-select fieldDetails=inputField propertyResource=propertyResource}}
    {{/if}}
  </div>
{{/each}}


      <br>
      <h4 class="sep50">Visibilidad</h4>
      <div class="form-group fg-float">
        <div class="fg-line has-">
          <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar el inmueble en su web"><i class="fa fa-info"></i></a>
          <select class="selectpicker" style="display: none;">
            <option value="0">No</option>
            <option value="1" selected="">Sí</option>
          </select>
          <div class="btn-group bootstrap-select">
            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Sí"><span class="filter-option pull-left">Sí</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner selectpicker" role="menu">
                <li data-original-index="0"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="1" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <label class="fg-label arriba_label">Visible: </label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has-">
          <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para poner el inmueble en la sección "><i class="fa fa-info"></i></a>
          <select class="selectpicker" style="display: none;">
            <option value="0">No</option>
            <option value="1" selected="">Sí</option>
          </select>
          <div class="btn-group bootstrap-select">
            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Sí"><span class="filter-option pull-left">Sí</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner selectpicker" role="menu">
                <li data-original-index="0"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="1" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <label class="fg-label arriba_label">Destacado: </label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has-">
          <select class="selectpicker" style="display: none;">
            <option>---</option>
            <option>Vendido</option>
            <option>Oferta</option>
          </select>
          <div class="btn-group bootstrap-select">
            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="---"><span class="filter-option pull-left">---</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner selectpicker" role="menu">
                <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>---</span>"><span class="text">---</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Vendido</span>"><span class="text">Vendido</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Oferta</span>"><span class="text">Oferta</span><span class="md md-done check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <label class="fg-label arriba_label">Etiqueta: </label>
      </div>
      <br>
      <h4 class="sep50">Portales</h4>
      <div class="form-group fg-float">
        <div class="fg-line has-">
          <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar en Yaencontre, previo contrato con ellos."><i class="fa fa-info"></i></a>
          <select class="selectpicker" style="display: none;">
            <option value="0" selected="">No</option>
            <option value="1">Sí</option>
          </select>
          <div class="btn-group bootstrap-select">
            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner selectpicker" role="menu">
                <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <label class="fg-label arriba_label">Yaencontre.com: </label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has-">
          <a href="#" class="ayuda" data-toggle="tooltip" title="" data-original-title="Sí para publicar en Idealista, previo contrato con ellos."><i class="fa fa-info"></i></a>
          <select class="selectpicker" style="display: none;">
            <option value="0" selected="">No</option>
            <option value="1">Sí</option>
          </select>
          <div class="btn-group bootstrap-select">
            <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="No"><span class="filter-option pull-left">No</span>&nbsp;<span class="caret"></span></button>
            <div class="dropdown-menu open">
              <ul class="dropdown-menu inner selectpicker" role="menu">
                <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>No</span>"><span class="text">No</span><span class="md md-done check-mark"></span></a></li>
                <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>Si</span>"><span class="text">Sí</span><span class="md md-done check-mark"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <label class="fg-label arriba_label">Idealista.com: </label>
      </div>
    </div>
  </div>
</div>
{{/if}}
