{{#if propsRetrieved}}
<div class="row">
  <div class="col-sm-12">
    {{io/preview-properties properties=propsRetrieved  }}
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-4">
    {{io/csv-importer propsRetrieved=propsRetrieved }}
  </div>
  <div class="col-sm-4">
    {{io/mls-importer propsRetrieved=propsRetrieved }}
  </div>
  <div class="col-sm-4">
    <p><a href="{{ exportUrl }}">Export properties</a></p>
  </div>
</div>
{{/if}}

