{{#if propsRetrieved}}
<div class="row">
  <div class="col-sm-12">
    {{io/preview-properties properties=propsRetrieved  }}
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-4">
    {{forms/mls-importer propsRetrieved=propsRetrieved }}
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        {{forms/radio-list resetTrigger=resetTrigger valueChangedAction="" fieldDetails=optionsField resourceObject=optionsObject fieldOptions=optionsFieldKeys }}
      </div>
      <div class="col-sm-12">
        <p><a class="btn btn-edfile">
            Upload properties
            {{#upload/x-droplet-import-data   
            url=url
            activeTabObject=activeTabObject didUploadAction=""}} 
            {{/upload/x-droplet-import-data}}

        </a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <p><a href="{{ exportUrl }}">Export properties</a></p>
  </div>
</div>
{{/if}}

