{{#if showPreviewProps}}
<div class="row">
  <div class="col-sm-12">
    {{#if propsRetrieved}}
      {{io/preview-properties properties=propsRetrieved  showPreviewProps=showPreviewProps }}
      {{else}}
      <p>Sorry, no properties found</p>
      <a class="btn" {{action "ackResult" }}>
      OK
      </a>
   {{/if}}
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-12">
    {{component importer-component propsRetrieved=propsRetrieved availableMLSs=availableMLSs}}
  </div>
</div>
{{/if}}

