{{#if hasChanged}}
  {{#if hasErrors}}
    {{!-- june 2016 - not making use of this yet --}}
    {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
    {{else}}
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert"><i class="fa fa-lg fa-info"></i> {{t "alerts.changesDetected"}} 
        <button type="submit"  style="" class="btn btn-primary waves-effect" {{action "saveResourceObject"}}>
          {{t "save"}}
        </button>
        <button type="submit"  style="" class="btn btn-default waves-effect" 
        {{action "cancelChanges" }}>
          {{t "cancel"}}
        </button> 

    {{#if serverError}}
    <div class="error-info">
      <div class="pull-left">{{t "errors.genericServerError" }}</div>  
    </div>
    {{/if}}


      </div>
    </div>
  {{/if}}



{{/if}}