{{#if isActive}}
<div role="tabpanel" class="tab-pane active" id="general">
  <div class="row">

    {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-12">

      {{#if hasChanged}}
        {{#if hasErrors}}
          {{!-- <div class="pull-left">{{t "prompts.fixErrors" }}</div>   --}}
          {{else}}
          <button type="submit" class="pull-left btn btn-primary btn-sm m-b-10 waves-effect" {{action "saveClientDetails"}}>
            {{t "save"}}
          </button>
        {{/if}}
      {{/if}}
    </div>
    <div class="col-sm-6">
      {{#each leftSideInputFields as |inputField|}}
      <div class="form-group fg-float">
          {{partial "partials/input-field-resolver" }}
      </div>
      {{/each}}
      <br>
    </div>
    <div class="col-sm-6">
      {{#each rightSideInputFields as |inputField|}}
      <div class="form-group fg-float">
          {{partial "partials/input-field-resolver" }}
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}
