{{#if isActive}}
        <table id="data-table-command" class="tabla_propiedades table table-striped table-vmiddle">
            <thead>
                <tr>
                    <th data-column-id="id" data-type="text" data-order="desc">Ref</th>
                    <th data-column-id="destacado">{{t "propertyLabels.highlighted" }}</th>
                    <th data-column-id="localidad">{{t "propertyLabels.locality"}}</th>
                    <th data-column-id="zona">{{t "propertyLabels.zone"}}</th>
                    <th data-column-id="tipo">{{t "propertyLabels.type"}}</th>
                    <th data-column-id="precio">{{t "propertyLabels.price"}}</th>
                    <th data-column-id="hab">{{t "propertyLabels.rooms"}}</th>
                    <th data-column-id="visible">{{t "propertyLabels.visible"}}</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">{{t "propertyLabels.actions"}}</th>
                </tr>
            </thead>
            <tbody>

          {{#each resourceObject.properties as |property|}} 
            <tr >
{{!--               <td>{{ property.tTitle }}</td>
              <td>{{t property.destacado }}</td>
              <td>{{t property.localidad }}</td>
              <td>{{ property.zonaDireccion }}</td>
              <td>{{ property.tTipoPropiedad }}</td>
              <td>{{ property.precioVenta }}</td>
              <td>{{ property.numHabitaciones }}</td>
              <td>{{t property.visible }}</td>
              <td>
              <button type="button" class="btn btn-icon command-edit btn_editar_inicio" {{action "removePropertyForClient" property.id }} data-id_propiedad="1">
              <i class="md md-edit"><i class="fa fa-trash"></i></i>
              </button>
              </td>
 --}}            </tr>
          {{/each}} 

            </tbody>
        </table>
{{/if}}
