<div role="tabpanel" class="tab-pane">
  {{#each contentResources as |contentItem|}}
  <div class="row">
    <div class="col-sm-6">
      <h4>{{t "aboutUsPhoto"}}</h4> 
      {{#if aboutUsPhoto}}
      <table id="tabla_fotos" cellspacing="0">
        <tr data-id_foto="1" id="1" class="foto_principal">
          <td>
            <div class="thumbnail">
              <img src={{ aboutUsPhoto.image.url }} alt="">
            </div>
            <div class="hidden-xs">{{ aboutUsPhoto.image.url }}</div>
          </td>
          <td class="text-left">

          <button type="button" class="btn btn-icon command-edit btn-edfile" >
            <span class="md md-edit">
              {{#upload/x-droplet-edit url=editPhotoEndpoint didUploadAction="refreshPhotos"}} 

              {{/upload/x-droplet-edit}}
            </span>
          </button>

          </td>
        </tr>
      </table>
      {{else}}

        <p><a class="btn btn-edfile">{{t "addAboutUsPhoto"}}
           {{#upload/x-droplet-upload-single url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} {{/upload/x-droplet-upload-single}}
        </a></p>
       

      {{/if}}
    </div>
    <div class="col-sm-6">
      <h3 class="text-center" style="display:none;">{{t contentItem.labelKey }} </h3> 
      {{#each languages as |languageSettings|}} 
        {{forms/content-item languageSettings=languageSettings contentItem=contentItem saveContentItemAction="saveContentItem"}} 
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
