{{!-- TODO? - might implement if there are enough options to move out of general-tab --}}
<div role="tabpanel" class="tab-pane active" id="apariencia">
  <div class="row">
      {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-6">


      <h4>{{t "logo"}}</h4> 
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button><i class="fa fa-lg fa-info"></i> {{t "info.recLogoPhotoSize" }}  
      </div>
      <div class="form-group fg-float" style="margin-bottom: 50px;">
      {{#if logoPhoto}}
      <div>
      <table id="tabla_fotos" cellspacing="0">
        <tr data-id_foto="1" id="1" class="foto_principal">
          <td>
            <div class="thumbnail">
              <img src={{ logoPhoto.image.url }} alt="">
            </div>
            <div class="" style="display:none;">{{ logoPhoto.image.url }}</div>
          </td>
          <td class="text-left">

          <a type="button" class="btn btn-icon command-edit btn-edfile" >
            <span class="md md-edit padded-pencil">
              {{#upload/x-droplet-edit url=editPhotoEndpoint didUploadAction="refreshPhotos"}} 

              {{/upload/x-droplet-edit}}
            </span>
          </a>

          </td>
        </tr>
      </table>
      </div>
      {{else}}
        <p><a class="btn btn-edfile">{{t "addLogo"}}
           {{#upload/x-droplet-upload-single url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} {{/upload/x-droplet-upload-single}}
        </a></p>
      {{/if}}
      </div>


      <h4>{{t "inTabLabels.siteLayout"}}</h4>
    {{forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="updateAppearance"  fieldDetails=siteLayoutField resourceObject=websiteDetails.style_variables fieldKeys=siteLayoutFieldKeys }}


{{!-- 
jan 2017:
below would prompt to save changes which I don't want now:
    <h4>{{t "inTabLabels.siteLayout"}}</h4>
      {{forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=siteLayoutField resourceObject=websiteDetails fieldKeys=siteLayoutFieldKeys }} --}}

    </div>

    <div class="col-sm-6">

      <h4>{{t "inTabLabels.colors"}}</h4>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=websiteDetails.style_variables.primary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorPrimary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=websiteDetails.style_variables.secondary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorSecondary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=websiteDetails.style_variables.action_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorActions"}}</label>
      </div>
    </div>

    <div class="col-sm-12" style="display:none;">
    <h4>Raw CSS</h4>
        {{forms/simple-input resetTrigger=resetTrigger valueChangedAction="checkDirtyState" fieldDetails=rawCssField resourceObject=websiteDetails }} 

      {{ textarea value=contentValue type="text" rows="4" class="input-sm form-control fg-input"  }}

    </div>
 </div>
</div>
