<div role="tabpanel" class="tab-pane">
  <div class="row">
    {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-6">

      <h4>{{t "inTabLabels.supportedLanguages"}}</h4>
      {{forms/supported-languages languageFields=availableLocaleFields supportedLanguages=tenantDetails.supported_languages
      valueChangedAction="updateAppearance" }}

      <h4>{{t "logo"}}</h4> 
      {{#if logoPhoto}}
      <table id="tabla_fotos" cellspacing="0">
        <tr data-id_foto="1" id="1" class="foto_principal">
          <td>
            <div class="thumbnail">
              <img src={{ logoPhoto.image.url }} alt="">
            </div>
            <div class="" style="display:none;">{{ logoPhoto.image.url }}</div>
          </td>
          <td class="text-left">

          <a type="button" class="btn btn-icon command-edit btn-edfile" >
            <span class="md md-edit padded-pencil">
              {{#upload/x-droplet-edit url=editPhotoEndpoint didUploadAction="refreshPhotos"}} 

              {{/upload/x-droplet-edit}}
            </span>
          </a>

          </td>
        </tr>
      </table>
      {{else}}
        <p><a class="btn btn-edfile">{{t "addLogo"}}
           {{#upload/x-droplet-upload-single url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} {{/upload/x-droplet-upload-single}}
        </a></p>
      {{/if}}

      <br>

      <h4>{{t "inTabLabels.colors"}}</h4>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=tenantDetails.style_variables.primary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorPrimary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=tenantDetails.style_variables.secondary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorSecondary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=tenantDetails.style_variables.action_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorActions"}}</label>
      </div>


      <h4>{{t "inTabLabels.siteLayout"}}</h4>
      {{forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="updateAppearance"  fieldDetails=siteLayoutField resourceObject=tenantDetails.style_variables fieldKeys=siteLayoutFieldKeys }}
      
      {{!-- 
      <h4>{{t "inTabLabels.currency"}}</h4> --}}
        {{!-- forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="updateAppearance"  fieldDetails=currencyField resourceObject=tenantDetails.style_variables fieldKeys=currencyFieldKeys --}}


    </div>
    <div class="col-sm-6">
      <h4>{{t "inTabLabels.socialLinks"}}</h4>

      {{#each socialNetworkFields as |fieldDetails|}} 

        {{forms/social-input resetTrigger=resetTrigger valueChangedAction="checkDirtyState" fieldDetails=fieldDetails resourceObject=resourceObject}}
      {{/each}}
    </div>
  </div>
</div>
