<div role="tabpanel" class="tab-pane">
  <div class="row">
    {{partial "partials/manage-changes-buttons" }}
    <div class="col-sm-4">
      <h3>{{t "inTabLabels.supportedLanguages"}}</h3> 
      <p>If you need another language, please mention it <a target="_blank" href="https://github.com/etewiah/property_web_builder/issues/4">here.</a> </p>

      {{forms/supported-languages resetTrigger=resetTrigger languageFields=availableLocaleFields supportedLanguages=agencyDetails.supported_locales resourceObject=resourceObject valueChangedAction="checkDirtyState" }}
      <div>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>{{t defaultLocaleField.headerTextTKey }}</h3> 
      {{forms/radio-list resetTrigger=resetTrigger valueChangedAction="checkDirtyState" fieldDetails=defaultLocaleField resourceObject=resourceObject fieldOptions=defaultLocaleFieldKeys hideHeader=true }}
      <h3>{{t areaUnitField.headerTextTKey }}</h3>
      {{forms/radio-list resetTrigger=resetTrigger alertInfo="info.defaultAreaUnit" valueChangedAction="checkDirtyState" fieldDetails=areaUnitField resourceObject=resourceObject fieldOptions=areaUnitFieldKeys hideHeader=true }}
    </div>
    <div class="col-sm-4">
      <h3>{{t currencyField.headerTextTKey }}</h3> 
      {{forms/radio-list resetTrigger=resetTrigger alertInfo="info.defaultCurrency" valueChangedAction="checkDirtyState" fieldDetails=currencyField resourceObject=resourceObject fieldOptions=currencyFieldKeys hideHeader=true }}
    </div>
    {{partial "partials/manage-changes-buttons" }}
  </div>
</div>
