<div role="tabpanel" class="tab-pane">
  <div class="row">
    {{partial "partials/manage-changes-buttons" }}

    <div class="col-sm-4">
      <h4>{{t "inTabLabels.supportedLanguages"}}</h4>
      {{forms/supported-languages resetTrigger=resetTrigger  languageFields=availableLocaleFields supportedLanguages=agencyDetails.supported_locales resourceObject=resourceObject
      valueChangedAction="checkDirtyState" }}
    </div>
    <div class="col-sm-4">
{{!--       <h4>{{t currencyField.headerTextTKey }}</h4>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button><i class="fa fa-lg fa-info"></i> {{t "info.defaultCurrency" }}  
      </div> --}}
      {{forms/radio-list  resetTrigger=resetTrigger alertInfo="info.defaultCurrency"
    valueChangedAction="checkDirtyState"  fieldDetails=currencyField resourceObject=resourceObject fieldOptions=currencyFieldKeys }}
    </div>
    <div class="col-sm-4">
{{!--       <h4>{{t areaUnitField.headerTextTKey }}</h4>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true"></span></button><i class="fa fa-lg fa-info"></i> {{t "info.defaultAreaUnit" }}  
      </div> --}}
      {{forms/radio-list  resetTrigger=resetTrigger alertInfo="info.defaultAreaUnit"
    valueChangedAction="checkDirtyState"  fieldDetails=areaUnitField resourceObject=resourceObject fieldOptions=areaUnitFieldKeys }}
    </div>
    {{partial "partials/manage-changes-buttons" }}
{{!--       <h4>{{t "logo"}}</h4> 
      {{#if logoPhoto}}
      <table id="tabla_fotos" cellspacing="0">
        <tr data-id_foto="1" id="1" class="foto_principal">
          <td>
            <div class="thumbnail">
              <img src={{ logoPhoto.image.url }} alt="">
            </div>
            <div class="" style="display:none;">{{ logoPhoto.image.url }}</div>
          </td>
          <td class="text-left">

          <a type="button" class="btn btn-icon command-edit btn-edfile" >
            <span class="md md-edit padded-pencil">
              {{#upload/x-droplet-edit url=editPhotoEndpoint didUploadAction="refreshPhotos"}} 

              {{/upload/x-droplet-edit}}
            </span>
          </a>

          </td>
        </tr>
      </table>
      {{else}}
        <p><a class="btn btn-edfile">{{t "addLogo"}}
           {{#upload/x-droplet-upload-single url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} {{/upload/x-droplet-upload-single}}
        </a></p>
      {{/if}}

      <br>

      <h4>{{t "inTabLabels.colors"}}</h4>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=agencyDetails.style_variables.primary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorPrimary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=agencyDetails.style_variables.secondary_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorSecondary"}}</label>
      </div>
      <div class="form-group fg-float">
        <div class="fg-line has- fg-toggled">
          {{spectrum-color-picker
              showPalette=true
              color=agencyDetails.style_variables.action_color
              onChange=(action "updateAppearance")
              showInput=true
              preferredFormat="hex3"
              palette='[["#e91b23","#563d7c"],["#3498db","#8ec449"],["#f1c40f","#d35400"]]'
          }}
        </div>
        <label class="fg-label">{{t "inTabLabels.colorActions"}}</label>
      </div> --}}


  {{!--     <h4>{{t "inTabLabels.siteLayout"}}</h4>
      {{forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="checkDirtyState"  fieldDetails=siteLayoutField resourceObject=agencyDetails fieldKeys=siteLayoutFieldKeys }} --}}
      
      {{!-- 
      <h4>{{t "inTabLabels.currency"}}</h4> --}}
        {{!-- forms/dynamic-select  resetTrigger=resetTrigger valueChangedAction="updateAppearance"  fieldDetails=currencyField resourceObject=agencyDetails.style_variables fieldKeys=currencyFieldKeys --}}




  </div>
</div>
