{{!-- june 2016 - not in use --}}
<div role="tabpanel" class="tab-pane">
  <div class="row">
    <div class="col-sm-6">
      <h4>Fotos</h4> 

        <p><a class="btn btn-edfile">{{t "addPhotos"}}
            {{#upload/x-droplet url=addPhotoEndpoint addPhotosFromUrlsAction="addPhotosFromUrls" didUploadAction="refreshPhotos"}} 
            {{/upload/x-droplet}}
        </a></p>

      <table id="tabla_fotos" cellspacing="0">
        {{#each landingPagePhotos as |photo| }}
        <tr data-id_foto="1" id="1" class="foto_principal">
          <td>
            <div class="thumbnail">
              <img src={{ photo.image.url }} alt="">
            </div>
            <div class="" style="display:none;">{{ photo.image.url }}</div>
          </td>
          <td class="text-left">
            <button type="button" class="btn btn-icon command-delete" {{action "deletePhoto" photo }}>
              <span class="md md-delete"></span>
            </button>
          </td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="col-sm-6">

      {{#each contentForForm as |contentItem|}}
        <div class="row group-of-languages-input">
          {{#each languages as |languageSettings|}} 
            {{forms/content-item languageSettings=languageSettings contentItem=contentItem saveContentItemAction="saveContentItem"}} 
          {{/each}} 
        </div>
      {{/each}}
    </div>
  </div>
</div>
